# --- Databases ---
# If your MySQL stores data in a local folder, ignore it here
mysql_data/
*.sql
*.sqlite
*.db                  <-- ADD THIS LINE TO BLOCK ALL .db FILES
absas_database.db     <-- OR ADD THIS TO SPECIFICALLY BLOCK YOUR DATABASE
ABSADatasets/